/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #323845;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.docsButton {
  background: var(--ifm-color-primary-darkest); /* #b21945 */
  color: #fff;
  font-weight: 600; /* semibold */
}

.docsButton:hover {
  background: var(--ifm-color-primary-darker); /* #cc1c4f */
}

.docsButton:focus {
  box-shadow: 0 0 0 3px var(--ifm-color-primary-lightest); /* #ec789a */
}
